n8n_workflows/report_webhook_workflow.json
{
  "name": "투자 성과 보고서 이메일 발송",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "report-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "보고서 웹훅 수신",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "report-email-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.format}}",
              "operation": "equals",
              "value2": "html"
            }
          ]
        }
      },
      "id": "check-format",
      "name": "HTML 형식 확인",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "{{$env[\"EMAIL_FROM_ADDRESS\"]}}",
        "toEmail": "={{$json.body.recipient_email || $env[\"REPORT_EMAIL_RECIPIENT\"]}}",
        "subject": "={{$json.body.subject || '투자 성과 보고서'}}",
        "emailFormat": "html",
        "htmlEmail": "={{$json.body.content || $json.body.report}}"
      },
      "id": "send-html-email",
      "name": "HTML 이메일 발송",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "fromEmail": "{{$env[\"EMAIL_FROM_ADDRESS\"]}}",
        "toEmail": "={{$json.body.recipient_email || $env[\"REPORT_EMAIL_RECIPIENT\"]}}",
        "subject": "={{$json.body.subject || '투자 성과 보고서'}}",
        "emailFormat": "text",
        "text": "={{$json.body.content ? 'HTML 형식의 보고서가 발송되었습니다.' : '보고서 형식이 올바르지 않아 텍스트 알림만 발송되었습니다.'}}"
      },
      "id": "send-fallback-email",
      "name": "대체 이메일 발송",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        750,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"Report email sent successfully\", \"timestamp\": $now } }}"
      },
      "id": "webhook-response-success",
      "name": "성공 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseCode": 400,
        "responseBody": "={{ { \"status\": \"error\", \"message\": \"Invalid report format\", \"timestamp\": $now } }}"
      },
      "id": "webhook-response-error",
      "name": "에러 응답",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1000,
        400
      ]
    }
  ],
  "connections": {
    "보고서 웹훅 수신": {
      "main": [
        [
          {
            "node": "HTML 형식 확인",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML 형식 확인": {
      "main": [
        [
          {
            "node": "HTML 이메일 발송",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "대체 이메일 발송",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML 이메일 발송": {
      "main": [
        [
          {
            "node": "성공 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "대체 이메일 발송": {
      "main": [
        [
          {
            "node": "에러 응답",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "투자보고서",
      "createdAt": "2025-11-01"
    },
    {
      "name": "자동화",
      "createdAt": "2025-11-01"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-11-01T00:00:00.000Z",
  "versionId": "1.0.0"
}